body {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#header {
    border-bottom: 1px solid #cccccc;
    background-color: #ffffff;
    
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 24px;

}

h2 {

   
    border-bottom: 2px solid lightgray;
    color: #4aaaa5;
}

h1, h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}



li {
    font-size: 16px;
}



a {

    text-decoration: none;
    

}

a:link, :visited {
    color: #777777;
}

a:hover  {
    color: #4aaaa5;
    cursor: default;
}

a:active {
    color: #4aaaa5;
    font-weight: bold;
}

.contentheader, .content{
   
    background-color: #ffffff;
    
    
}


#bioimage {
    width: 150px;
    height: 175px;
}



.btn {
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;

}



.caption {
    
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    width:90%
   

}


#footer {
    text-align: center;
    background-color: #666666;
    color: #ffffff;
    font-size: 12px;
    border-top: 5px solid #4aaaa5;
   position: absolute;
    width: 100%;
    height: 57px;
    line-height: 60px;
}
